.category{
    color: var(--blue);
    width: 270px;
    height: 150px;
    padding: 2rem;
    border: 1px solid #f1f1f1;
    border-radius: 6px;
    cursor: pointer;
}
.category:hover{
    color: #fff;
    background-color: rgba(0, 0, 255, 0.5);
}
.more{
    margin-top: 1rem;
    text-decoration: underline;
}