.product{
    width: 230px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
}
.product-image{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-image img{
    height: 80%;
    width: 80%;
    object-fit: contain;
    object-position: center;
    cursor: pointer;
}
.price{
    margin-top: 0.4rem;
}
.product-manager{
    display: flex;
    align-items: center;
    justify-content: space-between;
}